/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
    color: inherit;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px dotted #ecf0f1;
}
a:hover {
    border-bottom: 1px solid white;
}
strong {
    font-weight: 900;
}
ul, ol {
    padding: 0;
    list-style: none;
}
ul li {
    margin-left: 50px; /* icon width */
}
ol {
    margin: 0;
}
ol li p {
    margin: 0;
}
.right-floated-container {
    float: right;
}
.wrapper {
    padding-top: 20px;
    width: 960px;
    margin: 0 auto;
}
.triangle {
    position: absolute;
    width: 0;
    height: 0;
}
body {
    font: lighter 16px/1.3em 'Roboto', 'Verdana';
    color: white;
}
/*
 * Header starts
 */
.site-header {
    background-color: #00a3e6;
}
    .site-header .wrapper {
        position: relative;
        min-height: 290px;
        box-sizing: border-box;
    }
        .site-header section {
            display: inline-block;
            margin-left: 20px;
        }
        .site-header section:first-child {
            margin-left: 0;
        }
        .site-header #profile-image {
            width: 17.5%;
            padding: 50px 0 0 50px;
        }
            .site-header #profile-image img {
                width: 100%;
            }
        .site-header .right-floated-container {
            width: 650px;
        }
            .site-header #profile-info {
                width: 346px;
                float: left;
            }
                .site-header #profile-info h2,
                .site-header .column-narrow-left h2 {
                    background-color: #2c3e50;
                    line-height: 1.75em;
                    display: inline-block;
                    width: 250px;
                    position: relative;
                    padding-left: 20px;
                    box-sizing: border-box;
                }
                    .site-header h2 .triangle {
                        right: 0;
                        border-bottom: 42px solid #00a3e6;
                        border-left: 25px solid transparent;
                    }
                .site-header #profile-info p {
                    width: 80%;
                }
            .site-header .column-narrow-left {
                width: 280px;
            }
                .site-header .column-narrow-left li {
                    list-style: none;
                    margin-left: 0;
                    margin-bottom: 10px;
                    padding-left: 40px;
                    font-weight: 100;
                    font-size: 1.125em;
                    line-height: 1.67;
                }
                .site-header .column-narrow-left li.icon-phone {
                    background: url('../img/ic_contact_phone_white_24px.svg') no-repeat 0 0;
                    background-size: 28px 28px;
                }
                .site-header .column-narrow-left li.icon-mail {
                    background: url('../img/ic_email_white_24px.svg') no-repeat 0 0;
                    background-size: 28px 28px;
                }
                .site-header .column-narrow-left li.icon-code {
                    background: url('../img/ic_code_white_24px.svg') no-repeat 0 0;
                    background-size: 28px 28px;
                }
        .site-header #up-arrow {
            display: block;
            height: 20px;
            width: 20px;
            position: absolute;
            left: 12.5%;
            bottom: -4%;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            background-color: #2c3e50;
        }
        .site-header .toggle-target {
            max-height: 250px;
        }
        #timeline .toggle-target {
            max-height: 140px;
        }
        .toggler,
        .data-toggler {
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
        .toggle-target {
            opacity: 1;
            transition: max-height .25s cubic-bezier(.55, 0, .1, 1), opacity .25s linear, margin .25s linear;
            margin: 0;
        }
        .site-header .toggle-target.slide,
        #timeline .toggle-target.slide,
        .toggle-target.slide {
            max-height: 0;
            opacity: 0;
            transition: max-height .25s cubic-bezier(.55, 0, .1, 1), opacity .25s linear, margin .25s linear;
            overflow: hidden;
            margin: 0;
        }
/*
 * Starts Main content
 */
#main-content {
    background-color: #2c3e50;
}
    #main-content .wrapper {
        padding-bottom: 20px;
    }
        #main-content .categories ~.categories {
            margin: 20px 0;
        }
        #main-content .categories,
        #timeline,
        #skills {
            padding: 0 30px;
        }
        #main-content .categories span {
            font-size: 1.75em;
        }
/*
 * Timeline starts
 */
#timeline { /* Spine line */
    background: transparent url(../img/timeline-spine-bg.gif) top center repeat-y;
    overflow: hidden;
    list-style: none;
    position: relative;
    padding-bottom: 60px;
}
#timeline:after { /* The grey dot in the bottom */
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -12px;
    content: " ";
    display: block;
    background: #969fa8;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
    #timeline li {
        margin-bottom: 60px;
        min-height: 50px;
        position: relative;
    }
        #timeline time {
            line-height: 4.2;
            text-align: center;
            width: 100px;
            background: #00a3e6;
            border-radius: 50%;
            font-weight: bold;
            font-size: 1.5em;
            display: inline-block;
            position: absolute;
            left: 50%;
            margin-left: -50px;
            z-index: 2;
        }
        #timeline section {
            display: inline-block;
            margin-top: 30px;
            margin-right: 60px;
        }
        #timeline .column-narrow-left {
            width: 300px;
        }
        #timeline .column-narrow-right {
            clear: right;
            float: right;
            width: 270px;
            margin-right: 0;
        }
            #timeline section h2 {
                margin-top: 0;
                background-color: #ecf0f1;
                color: #2c3e50;
                line-height: 1.75em;
                display: inline-block;
                position: relative;
                z-index: 1;
            }
            #timeline .column-narrow-right h2 {
                width: 230px;
                padding-left: 40px;
            }
            #timeline .column-narrow-left h2 {
                width: 250px;
                padding-left: 20px;
            }
            #timeline section h2:before { /* The small dark-blue circles in h2 */
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 5px;
                border-radius: 50%;
                background-color: #2c3e50;
            }
                #timeline section h2 .triangle {
                    border-bottom: 42px solid #2c3e50;
                }
                #timeline .column-narrow-right h2 .triangle {
                    left: 0;
                    border-right: 25px solid transparent;
                }
                #timeline .column-narrow-left h2 .triangle {
                    right: 0;
                    border-left: 25px solid transparent;
                }
                #timeline .branch-lines {
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: 50%;
                    z-index: 2;
                    border-bottom: 2px solid #00a3e6;
                    border-right: 145px solid #00a3e6;
                }
                #timeline .column-narrow-left .branch-lines {
                    left: 95%;
                }
                #timeline .column-narrow-right .branch-lines {
                    right: 95%;
                }
                #timeline .toggle-target.slide .branch-lines {
                    display: none;
                }
                #timeline .secondary-nodes .branch-lines {
                    clear: right; /* Clears floating for secondary nodes in a li */
                    border-right: 107px solid #00a3e6;
                }
                #timeline .secondary-nodes:after { /* Vertical branches */
                    content: "";
                    display: inline-block;
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: 15.95%;
                    border-top: 173px solid #00a3e6;
                    border-right: 2px solid #00a3e6;
                }
                #timeline .column-narrow-left.secondary-nodes:after {
                    z-index: 0;
                    left: 40.2%;
                }
                #timeline .column-narrow-right.secondary-nodes:after {
                    right: 40.2%;
                }
            #timeline .column-narrow-right p {
                padding-left: 70px;
            }
            #timeline .column-narrow-left p {
                padding-left: 50px;
            }
/*
 * Timeline ends
 */

/*
 * Skill category starts
 */
#skills {
    margin: 0;
}
    #skills li {
        display: inline-block;
        width: 25%;
        float: left;
        margin: 0;
    }
        #skills li span[data-percentage="100"]:before,
        #skills li span[data-percentage="85"]:before,
        #skills li span[data-percentage="85"]:after,
        #skills li span[data-percentage="75"]:before,
        #skills li span[data-percentage="50"]:before {
            content: "";
            display: block;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 15px solid #00a3e6;
        }
        #skills li span[data-percentage="100"]+span {
            margin-left: -10px;
        }
        #skills li span[data-percentage="85"]:before { /* Draws a white border 25% long */
            position: absolute;
            border-right-color: white;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        #skills li span[data-percentage="85"]:before { /* Draws a white border 25% long */
            position: absolute;
            border-right-color: white;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        #skills li span[data-percentage="85"]:after { /* Reduces the white border with 10% */
            border: 15px solid transparent;
            border-right: 15px solid #00a3e6;
            -webkit-transform: rotate(9deg);
            transform: rotate(9deg);
        }
        #skills li span[data-percentage="75"]:before { /* 75% blue circle */
            border-right-color: white;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        #skills li span[data-percentage="50"]:before { /* 50% blue circle */
            border-right-color: white;
            border-bottom-color: white;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        #skills div {
            position: relative;
        }
        #skills li span[data-percentage]+span {
            position: absolute;
            top: 44%;
            left: 25%;
            font-size: 2.5em;
        }
        #skills li p {
            margin: 10px 0;
            padding-left: 20px;
            font-size: 1.2em;
        }
/*
 * Skill category ends
 */

/*
 * Main-content ends
 */

/*
 * Footer starts
 */

.site-footer {
    color: #2c3e50;
}
    .site-footer .wrapper {
        padding-bottom: 20px;
    }
        .site-footer .categories div {
            width: 27%;
            display: inline-block;
        }
            .site-footer h3 {
                margin: 5px 0 5px 2px;
            }
            .site-footer h3:before {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                margin-right: 20px;
                border-radius: 50%;
                background-color: #2c3e50;
            }
            .site-footer .right-floated-container p {
                margin: 0;
            }
/*
 * Footer ends
 */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 320px) {
    .site-header #profile-image {
        width: 100%;
        padding: 25px 75px;
        box-sizing: border-box;
    }
    .site-header .right-floated-container,
    .site-header #profile-info,
    .site-header .column-narrow-left {
        float: none;
        width: 100%;
        margin: 0;
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .wrapper {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .site-header #up-arrow {
        display: none;
    }
    .site-header #profile-image {
        width: 100%;
        box-sizing: border-box;
        padding: 50px 0 10px;
        text-align: center;
    }
    .site-header #profile-image img {
        width: 150px;
    }
    .site-header .right-floated-container {
        float: none;
        width: 100%;
    }
    .site-header .column-narrow-left {
        float: right;
        margin-left: 0;
    }
    #main-content .wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #timeline .column-narrow-left.secondary-nodes .branch-lines {
        display: none;
    }
    #timeline .column-narrow-left.secondary-nodes:after {
        left: 28px;
    }
    #timeline .branch-lines {
        border-right-width: 130px;
    }
    #skills div {
        display: inline-block;
    }
    #skills li span[data-percentage="100"]:before,
    #skills li span[data-percentage="85"]:before,
    #skills li span[data-percentage="85"]:after,
    #skills li span[data-percentage="75"]:before,
    #skills li span[data-percentage="50"]:before {
        width: 100px;
        height: 100px;
    }
    #skills li span[data-percentage]+span {
        font-size: 1.5em;
        left: 50%;
        margin-left: -20px;
    }
    #skills li span[data-percentage="100"]+span {
        margin-left: -28px;
    }

    #timeline {
        background-position: 90% 0;
        padding-left: 0;
        padding-right: 0;
    }
    #timeline:after {
        left: 90%;
        margin-left: -14px;
    }
    #timeline .column-narrow-right,
    #timeline .column-narrow-left {
        float: none;
        clear: both;
        width: auto;
        display: block;
        max-width: 270px;
        margin: 0 0 30px 0;
    }
    #timeline .column-narrow-right:last-child,
    #timeline .column-narrow-left:last-child {
        margin-bottom: 0;
    }
    #timeline time {
        left: auto;
        right: 10%;
        top: 0;
        margin-left: 0;
        margin-right: -48px;
    }
    #timeline .column-narrow-left.secondary-nodes:after,
    #timeline .branch-lines {
        display: none;
    }
    #main-content .categories {
        text-align: center;
        padding: 0;
        margin-bottom: 20px;
    }
    #main-content .categories span.right-floated-container {
        float: none;
    }
    #main-content .categories:first-child span:first-child:after {
        content: "&";
        margin: 0 8px;
    }
}

@media screen and (max-width: 820px) {
    #timeline .branch-lines {
        border-right-width: 45px;
    }
}

@media screen and (max-width: 768px) {
    .site-header #profile-info,
    .site-header .column-narrow-left {
        float: none;
        width: auto;
        margin: 0 auto;
        max-width: 250px;
        display: block;
    }
    #skills li span[data-percentage]:before,
    #skills li span[data-percentage]:after {
        width: 75px;
        height: 75px;
        border-width: 10px;
    }
    #skills li p {
        font-size: 1em;
        margin: 7px 0;
    }
    #skills li span[data-percentage]+span {
        font-size: 1.25em;
        top: 50%;
        margin-top: -10px;
        margin-left: -17px;
    }
    #skills li span[data-percentage="100"]+span {
        margin-left: -24px;
    }
    .site-footer .categories div {
        width: 45%;
    }
}

@media screen and (max-width: 640px) {
    #skills li {
        width: 50%;
        min-height: 250px;
        text-align: center;
        margin-bottom: 20px;
    }
    #skills li span[data-percentage]:before,
    #skills li span[data-percentage]:after {
        width: 125px;
        height: 125px;
        border-width: 15px;
    }
    #skills li p {
        padding-left: 0;
    }
    #timeline time {
        font-size: 1.2em;
        line-height: 3.95;
        width: 75px;
        margin-right: -35px;
    }
}
@media screen and (max-width: 480px) {
    #skills li {
        width: 100%;
        min-height: 0;
        text-align: center;
    }
    #skills li span[data-percentage]:before,
    #skills li span[data-percentage]:after {
        width: 125px;
        height: 125px;
        border-width: 15px;
    }
    #skills li p {
        padding-left: 0;
    }
    #timeline .column-narrow-right,
    #timeline .column-narrow-left {
        width: 250px;
    }
    #timeline .column-narrow-right h2,
    #timeline .column-narrow-left h2 {
        width: 210px;
    }
    #timeline .column-narrow-left h2 {
        padding-left: 40px;
    }
    #timeline .column-narrow-left h2 .triangle {
        right: auto;
        left: 0;
        border-right: 25px solid transparent;
        border-left: none;
    }
    #timeline li {
        padding-top: 10px;
    }
    #timeline time {
        font-size: 1.2em;
        line-height: 3.125;
        width: 60px;
        margin-right: -30px;
    }
    #timeline section h2 {
        font-size: 1.3em;
    }
    #timeline .toggle-target {
        max-height: 180px;
    }
    .site-footer .categories div {
        width: 100%;
    }
    .site-footer .categories div:first-child {
        margin-bottom: 20px;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}